.home {
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: #171212; */
}

.introduction {
    max-width: 540px;
    text-align: center;

    /* cus */
    display: inline-grid;
    justify-items: center;
    align-items: stretch;
    align-content: space-around;
    grid-row-gap: 9px;
}

.home-image {
    width: 10rem;
    height: auto;
}

.social-image {
    width: 1.2rem;
    height: auto;
}

.home-name {
    /* font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    margin: 0.5rem 0 0.5rem 0; */

    /* cus */
    /* color: var(--color-secondary); */
}

.home-social {
    column-gap: 1rem;
    /* justify-content: center; */
    /* margin: 0.5rem 0 0.5rem 0;  */
}

.home-scroll-wheel {
    color: var(--color-shadow-2);
}

.home-education {
    position: absolute;
    right: 300px;
    top: 70px;
    background-color: var(--color-shadow-1);
    height: 23vh;
    width: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 0;
}

/* LAPTOP LRGE */
@media screen and (min-width: 1440px){
    .home-education {
        right: 350px;
        top: 200px;
        height: 18vh;
        width: 25vh;
        min-width: 25vh;
        min-height: 18vh;
        border-radius: 50px 50px 50px 0;
    }
}

/* LAPTIOP */
@media screen and (min-width: 1024px) and (max-width: 1025px){
    .home-education {
        right: 180px;
        top: 150px;
        height: 22vh;
        width: 27vh;
        min-width: 25vh;
        min-height: 18vh;
        border-radius: 50px 50px 50px 0;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 769px){
    .home-education {
        right: 130px;
        top: 50px;
        height: 22vh;
        width: 27vh;
        min-width: 25vh;
        min-height: 18vh;
        border-radius: 20px 20px 20px 0;
        font-size: var(--font-size-xsmall);
    }
}