.sidebar {
    position: fixed;
    /* right: 0; */
    left: 0;
    top: 0;
    background: var(--color-shadow-1);
    border: 0 1px 0 0 solid var(--color-shadow-2);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.navbar-link {
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
}

.copyright {
    color: var(--color-shadow-2);
    font-size: var(--font-size-xsmall);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}